@font-face {
    font-family: 'dangerdays';
    src: url('./fonts/opticompit-italic.woff2') format('woff2'),
         url('./fonts/opticompit-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* dangerdays roboto */

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(./media/lace.png);
    background-repeat: repeat;
    background-size: 50%;
    background-color: rgb(14, 14, 14);   
}
*{
    box-sizing: border-box;
    font-family: dangerdays;
}
.background{
    position: absolute;
    left: 0;
    top: 0;
    height: 95%; 
    width: 100%;
    background-image: url(./media/backround.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 360px;
    min-height: 360px;
    transition: height 1s ease;
}
.container{
    position: absolute;
    left: 0;
    top: 0;
    height: 95%; 
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    gap: 5%;
    min-width: 360px;
    min-height: 360px;
}

header{
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 5%;
    min-width: 360px;
}
header button{
    background-color: transparent;
    border: none;
    color: white;
    min-width: 0; 
    flex-shrink: 1;  
}
.menuButton {
    position: relative;
    padding: 0 30px;
    overflow: hidden;
    cursor: pointer;
    transition:
        all 0.3s ease,
        transform 0.1s ease;
    height: 100%;
    border-radius: 0 0 10px 10px;
}
.menuButton > .text {
    position: relative;
    z-index: 2;
    text-shadow: 
    0 1px 2px rgb(0, 0, 0),
    0 0 7px #2b0202,
    0 0 10px #2e0202;
    color: #fff;
    font-size: 40px;
    font-weight: lighter;
}
.menuButton > .liquid {
  position: absolute;
  top: -150%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9c0606;
  transition: top 1s ease; 
  z-index: 1;
}
.menuButton > .drop {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 55%;
  border-radius: 50%;
  background: #9c0606;
  transition: top 1s ease; 
  z-index: 1;
}
.menuButton > .drop1 {
  position: absolute;
  top: -100%;
  left: 75%;
  width: 40%;
  height: 60%;
  border-radius: 40%;
  background: #9c0606;
  transition: top 1s ease; 
  z-index: 1;
}
.menuButton > .drop2 {
  position: absolute;
  top: -100%;
  left: 74%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: #9c0606;
  transition: top 1s ease; 
  z-index: 1;
}
.menuButton > .drop3 {
  position: absolute;
  top: -100%;
  left: 72%;
  width: 40%;
  height: 50%;
  border-radius: 50%;
  background: #9c0606;
  transition: top 1s ease; 
  z-index: 1;
}
.menuButton > .drop4 {
  position: absolute;
  top: -100%;
  left: -15%;
  width: 30%;
  height: 40%;
  border-radius: 40%;
  background: #9c0606;
  transition: top 1s ease; 
  z-index: 1;
}
.menuButton > .drop5 {
  position: absolute;
  top: -100%;
  left: -13%;
  width: 30%;
  height: 20%;
  border-radius: 50%;
  background: #9c0606;
  transition: top 1s ease; 
  z-index: 1;
}
.menuButton > .drop6 {
  position: absolute;
  top: -100%;
  left: -11%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background: #9c0606;
  transition: top 1s ease; 
  z-index: 1;
}
.menuButton:hover .liquid {
    top: 0; 
}
.menuButton:hover .drop {
    top: 50%; 
}
.menuButton:hover .drop1 {
    top: 70%; 
}
.menuButton:hover .drop2 {
    top: 105%; 
}
.menuButton:hover .drop3 {
    top: 110%; 
}
.menuButton:hover .drop4 {
    top: 70%; 
}
.menuButton:hover .drop5 {
    top: 90%; 
}
.menuButton:hover .drop6 {
    top: 100%; 
}
.currentMenu>.liquid{
    top: 0; 
}
.socials{
    min-width: 0;
    flex-shrink: 1;  
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: fit-content;
    flex-direction: column;
}
.socials>button>svg{
    width: 25px;
    height: 25px;
    fill: rgb(255, 255, 255);
    cursor: pointer;
}
.socials>button>svg:hover{
    fill:  #b80606;
}
.homeTitle{
    min-width: 300px;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #1b0303,
    0 0 42px rgb(65, 8, 8),
    0 0 50px rgb(0, 0, 0);
    color: white;
    margin: 0 10px;
    min-width: 0;
    flex-shrink: 1;
    margin-top: 10px;
    transition: ease .5s;
}
.homeTitle>span{
    font-size: 40px;
}
.homeTitle:hover{
    cursor: pointer;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #470404,
    0 0 25px rgb(65, 8, 8),
    0 0 30px rgb(224, 8, 8);
    color: white;
    transform: scale(1.3);
    z-index: 2;
}

@media (width < 640px){
    .homeTitle{
        font-size: 20px;
        text-wrap: nowrap;
        text-shadow:
            0 0 2px #fff,
            0 0 5px #fff,
            0 0 10px #1b0303,
            0 0 15px rgb(65, 8, 8),
            0 0 20px rgb(0, 0, 0);
    }
    .homeTitle>span{
    font-size: 10px;
    }
    .menuButton {
    padding: 0 15px;
    }
    .menuButton>.text {
    font-size: 15px;
    }
    .socials>button>svg{
        width: 20px;
        height: 20px;
    }
}
@media (639px < width < 895px){
    .homeTitle{
        font-size: 40px;
        text-wrap: nowrap;
        text-shadow:
            0 0 2px #fff,
            0 0 5px #fff,
            0 0 10px #1b0303,
            0 0 15px rgb(65, 8, 8),
            0 0 20px rgb(0, 0, 0);
    }
    .homeTitle>span{
    font-size: 25px;
    }
    .menuButton {
    padding: 0 20px;
    }
    .menuButton>.text {
    font-size: 30px;
    }
    .socials>button>svg{
        width: 25px;
        height: 25px;
    }
}
@media (width >= 895px){
    .socials{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .socials>button>svg{
        width: 40px;
        height: 40px;
    }
}


#content{
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HOMEPAGE */
.homePage{
    justify-content: space-around;
    align-items: center;
    background-color: #00000011;
    height: 100%;
    width: 100%;
    min-width: 360px;

    display: none;
}
.homeText{
    font-size: 130px;
    line-height: 1;
    text-align: center;
    font-weight: lighter;
    color: #ffffff;
    text-shadow:
        0 0 7px #000000,
        0 0 10px rgb(0, 0, 0)000,
        0 0 21px #000000,
        0 0 42px rgb(0, 0, 0),
        0 0 50px rgb(0, 0, 0),
        0 0 60px rgb(0, 0, 0);
    opacity: 30%;
    min-width: 180px;
    text-wrap: wrap;
}
.homePage>svg{
    opacity: 20%;
    height: 100%;
    width: 300px; 
}

@media (width < 640px){
    .homeText{
        font-size: 70px;
    }
    .homePage>svg{
        width: 170px; 
    }
}
@media (639px < width < 895px){
    .homeText{
        font-size: 120px;
    }
    .homePage>svg{
        width: 200px; 
    }
}
@media (width >= 895px){
    .homeText{
        font-size: 140px;
    }
    .homePage>svg{
        width: 350px; 
    }
}


/* MENU */
body.menuOpened .background{
    height: 40%;
    min-height: 150px;
}
.menuPage{
    justify-content: space-around;
    align-items: center;
    background-color: #00000011;
    height: 100%;
    width: 90%;
    min-width: 288px;

    display: grid;
    grid-template: auto auto 1fr / 15% 85%;
    align-items: baseline;
    padding-bottom: 2%;

    display: none;
}
.menuTitle{
    grid-area: 1/1/2/3;
    width: 100%;
    background-color: rgba(146, 15, 15, 0.6);
    border: 3px solid rgba(39, 11, 11, 0.2);
    border-radius: 10% 10% 0 0;
    text-align: center;
    
    text-shadow: 
    0 1px 2px rgb(0, 0, 0),
    0 0 7px #2b0202,
    0 0 10px #2e0202;
    color: #fff;
    font-size: 27px;
}
.menuNav{
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: sticky;
    top: 1%;
}
.menuNavButton{
    color: white;
    height: fit-content;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30% 5%;
    margin-top: 5px;
    background-color: rgba(31, 31, 31, 0.7);
    border: none;
    border-radius: 20% 0 0 20%;

    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition:
        all 0.3s ease,
        transform 0.1s ease;
}
.menuNavButton .text{
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    font-size: 10px;
    position: relative;
    z-index: 2;
    text-shadow: 
    0 1px 2px rgb(0, 0, 0),
    0 0 7px #2b0202,
    0 0 10px #2e0202;
}
.menuNavButton>svg{
    transform: rotate(270deg);
    width: auto;
    max-width: 60%;
    position: relative;
    z-index: 2;
}
.menuNavButton>.liquid {
  position: absolute;
  left: -150%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #9c0606;
  transition: left 1s ease; 
  z-index: 1;
}
.menuNavButton > .drop {
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 55%;
  height: 100%;
  border-radius: 50%;
  background: #9c0606;
  transition: left 1s ease; 
  z-index: 1;
}
.menuNavButton > .drop1 {
  position: absolute;
  left: -100%;
  bottom: -15%;
  width: 40%;
  height: 30%;
  border-radius: 40%;
  background: #9c0606;
  transition: left 1s ease; 
  z-index: 1;
}
.menuNavButton > .drop2 {
  position: absolute;
  left: -100%;
  bottom: -13%;
  width: 20%;
  height: 30%;
  border-radius: 50%;
  background: #9c0606;
  transition: left 1s ease; 
  z-index: 1;
}
.menuNavButton > .drop3 {
  position: absolute;
  left: -100%;
  bottom: -11%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background: #9c0606;
  transition: left 1s ease; 
  z-index: 1;
}
.menuNavButton:hover .liquid {
    left: 0; 
}
.menuNavButton:hover .drop {
    left: 70%; 
}
.menuNavButton:hover .drop1 {
    left: 80%; 
}
.menuNavButton:hover .drop2 {
    left: 100%; 
}
.menuNavButton:hover .drop3 {
    left: 110%; 
}
.currentMenuNav>.liquid{
    left: 0;
}
.menuCenter{
    grid-area: 2/2/4/3;
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px solid rgba(0, 0, 0, 0.2);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 20px 20px;
}
.menuSubtitle{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    
    text-shadow: 
    0 1px 2px rgb(122, 7, 7),
    0 0 7px #470505,
    0 0 10px #300202;
    color: #fff;
    font-size: 20px;
}
.currentMenuList{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    gap: 5px;
}
article{
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5px;
    background-color: rgba(59, 59, 59, 0.247);
    border-radius: 20px;
    transition: ease .5s;
}
article>img{
    grid-column: 1/2;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 70px;
    border-radius: 20px 0 0 20px;
    opacity: 80%;
}
.itemName{
    grid-column: 2/3;
    align-self: center;
    width: 90%;
    font-size: 12px;
    font-family: roboto;
    text-wrap: wrap;
    text-align: center;
    text-shadow: 
    0 1px 2px rgb(0, 0, 0),
    0 0 7px #000000,
    0 0 10px #000000,
    0 0 15px #000000,
    0 0 20px #000000;
}
article:hover{
                        box-shadow: 0 0 15px 0 rgb(63, 4, 4),
                        0 0 20px 0 rgb(36, 2, 2),
                        0 0 25px 0 black;
    background-color: #111111;
    transform: scale(1.15);
    z-index: 2;
    cursor: pointer;
}
article:hover .bullets{
    text-shadow:
    0 0 10px rgb(153, 77, 0),
    0 0 15px rgb(82, 41, 1),
    0 0 25px rgb(22, 11, 0);
}
article:hover .cheers{
    text-shadow:
    0 0 10px rgb(114, 0, 0),
    0 0 15px rgb(77, 1, 1),
    0 0 25px rgb(36, 1, 1);
}
article:hover .parade{
    text-shadow:
    0 0 10px rgb(190, 190, 190),
    0 0 15px rgb(107, 106, 106),
    0 0 25px rgb(51, 51, 51);
}
article:hover .danger{
    text-shadow:
    0 0 10px rgb(0, 184, 255),
    0 0 15px rgb(3, 113, 156),
    0 0 25px rgb(1, 33, 46);
}
article:hover .conventional{
    text-shadow:
    0 0 10px rgb(247, 224, 179),
    0 0 15px rgb(192, 175, 134),
    0 0 25px rgb(114, 103, 77);
}
article:hover .decay{
    text-shadow:
    0 0 10px rgb(58, 77, 109),
    0 0 15px rgb(35, 46, 65),
    0 0 25px rgb(18, 24, 34);
}
.notWatchingRN{
    display: none;
}

@media (639px < width < 895px){
    .menuPage{
        grid-template: auto auto 1fr / 12% 88%;
    }
    .menuTitle{ 
        font-size: 32px;
        text-shadow: 
        0 1px 10px rgb(0, 0, 0),
        0 0 15px #2b0202,
        0 0 20px #2e0202;       
    }
    .menuNavButton .text{
        font-size: 15px;
        text-shadow: 
        0 1px 10px rgb(0, 0, 0),
        0 0 15px #2b0202,
        0 0 20px #2e0202; 
    }
    .menuNavButton{
        max-height: 90px;
    }
    .menuSubtitle{
        text-shadow: 
        0 1px 10px rgb(122, 7, 7),
        0 0 15px #470505,
        0 0 20px #300202;
        font-size: 25px;
    }
    .currentMenuList{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5px;
        gap: 5px;
    }
    article{
        width: 100%;
        height: 80px;
    }
    article>img{
        height: 80px;
        border-radius: 25px 0 0 25px;
    }
    .itemName{
        font-size: 15px;
    }
    article:hover .bullets{
        text-shadow:
        0 0 15px rgb(153, 77, 0),
        0 0 20px rgb(82, 41, 1),
        0 0 30px rgb(22, 11, 0);
    }
    article:hover .cheers{
        text-shadow:
        0 0 15px rgb(114, 0, 0),
        0 0 20px rgb(77, 1, 1),
        0 0 30px rgb(36, 1, 1);
    }
    article:hover .parade{
        text-shadow:
        0 0 15px rgb(190, 190, 190),
        0 0 20px rgb(107, 106, 106),
        0 0 30px rgb(51, 51, 51);
    }
    article:hover .danger{
        text-shadow:
        0 0 15px rgb(0, 184, 255),
        0 0 20px rgb(3, 113, 156),
        0 0 30px rgb(1, 33, 46);
    }
    article:hover .conventional{
        text-shadow:
        0 0 15px rgb(247, 224, 179),
        0 0 20px rgb(192, 175, 134),
        0 0 30px rgb(114, 103, 77);
    }
    article:hover .decay{
        text-shadow:
        0 0 15px rgb(58, 77, 109),
        0 0 20px rgb(35, 46, 65),
        0 0 30px rgb(18, 24, 34);
    }
}
@media (width >= 895px){
    .menuPage{
        grid-template: auto auto 1fr / 10% 90%;
    }
    .menuTitle{ 
        font-size: 40px;
        text-shadow: 
        0 3px 10px rgb(0, 0, 0),
        0 0 20px #1f0101,
        0 0 25px #270101,
        0 0 30px #270101;       
    }
    .menuNavButton .text{
        font-size: 20px;
        text-shadow: 
        0 1px 15px rgb(0, 0, 0),
        0 0 20px #2b0202,
        0 0 25px #2e0202; 
    }
    .menuNavButton{
        max-height: 110px;
    }
    .menuSubtitle{
        text-shadow: 
        0 2px 15px rgb(122, 7, 7),
        0 0 20px #470505,
        0 0 25px #300202;
        font-size: 33px;
    }
    .currentMenuList{
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 33.33%), 1fr));
        gap: 6px;
    }
    article{
        height: 90px;
    }
    article>img{
        height: 90px;
        border-radius: 30px 0 0 30px;
        object-fit: fill;
    }
    .itemName{
        font-size: 25px;
    }
    article:hover .bullets{
        text-shadow:
        0 0 20px rgb(153, 77, 0),
        0 0 30px rgb(82, 41, 1),
        0 0 40px rgb(22, 11, 0);
    }
    article:hover .cheers{
        text-shadow:
        0 0 20px rgb(114, 0, 0),
        0 0 30px rgb(77, 1, 1),
        0 0 40px rgb(36, 1, 1);
    }
    article:hover .parade{
        text-shadow:
        0 0 20px rgb(190, 190, 190),
        0 0 30px rgb(107, 106, 106),
        0 0 40px rgb(51, 51, 51);
    }
    article:hover .danger{
        text-shadow:
        0 0 20px rgb(0, 184, 255),
        0 0 30px rgb(3, 113, 156),
        0 0 40px rgb(1, 33, 46);
    }
    article:hover .conventional{
        text-shadow:
        0 0 20px rgb(247, 224, 179),
        0 0 30px rgb(192, 175, 134),
        0 0 40px rgb(114, 103, 77);
    }
    article:hover .decay{
        text-shadow:
        0 0 20px rgb(58, 77, 109),
        0 0 30px rgb(35, 46, 65),
        0 0 40px rgb(18, 24, 34);
    }
}


#itemsInfo{
    width: min(70cqw, 70cqh);
    min-width: 300px;
    height: 70%;
    min-height: 300px;
    max-height: 90%;
    border: none;
    color: white;
    padding: 0;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    background-image: url(./media/drinks/ourladyofsorrows.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow:
        0 0 3px 0 rgb(112, 112, 112),
        0 0 5px 0 black,
        0 0 10px 0 black,
        0 0 20px 0 black,
        0 0 25px 0 black,
        inset 0 0 20px 0 black;
    position: relative;
}
#itemsInfo:not([open]) {
  display: none;
}
#itemsInfo:focus{
    outline: 2px solid rgb(0, 0, 0);

}
.closeInfo{
    position: absolute;
    top: -100%;
    font-size: 13px;
    font-family: roboto;
    background-color: rgba(0, 0, 0, 0.178);
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.562);

    transition: ease 0.5s;
}
#itemsInfo:hover .closeInfo{
    top: 1%;
}
.infoDIV{
    height: fit-content;
    max-height: 50%;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    padding: 2% 5%;
    text-align: left;
    background-color: #00000079;
}
.infoTitle{
    grid-row: 1/2;
    font-size: 20px;
    color: rgb(255, 149, 43);
    text-shadow:
    0 0 20px rgb(153, 77, 0),
    0 0 25px rgb(82, 41, 1),
    0 0 35px rgb(22, 11, 0);
}
.infoDescription{
    grid-row: 2/3;
    width: 100%;
    font-size: 13px;
    font-family: roboto;
    margin-bottom: 5px;
}
.picCredits{
    grid-row: 3/4;
    width: fit-content;
    font-size: 8px;
    font-family: roboto;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    border-radius: 2px;
}
.picCredits:hover{
    color: rgb(204, 204, 204);
}
.picCredits:focus{
    outline: 2px solid #1b0303;
    color: white;
    text-shadow:
    0 0 1px rgb(0, 0, 0),
    0 0 5px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0);
}

@media (639px < width < 895px){
    #itemsInfo{
        width: min(90cqw, 90cqh);
        height: 80%;
        border-radius: 5%;

        box-shadow:
            0 0 5px 0 rgb(66, 66, 66),
            0 0 20px 0 black,
            0 0 25px 0 black,
            0 0 30px 0 black,
            0 0 35px 0 black,
            inset 0 0 40px 0 black;
    }
    #itemsInfo:focus{
        outline: 3px solid rgb(0, 0, 0);
    }
    .closeInfo{
        font-size: 18px;
    }
    .infoTitle{
        font-size: 30px;
    }
    .infoDescription{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .picCredits{
        font-size: 12px;
        border-radius: 2px;
    }
    .picCredits:focus{
        outline: 3px solid #1b0303;
        color: white;
        text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 10px rgb(0, 0, 0),
        0 0 15px rgb(0, 0, 0);
    }
}
@media (width >= 895px){
    #itemsInfo{
        width: min(90cqw, 90cqh);
        height: 90%;
        border-radius: 8%;
        box-shadow:
            0 0 8px 0 rgb(66, 66, 66),
            0 0 25px 0 black,
            0 0 30px 0 black,
            0 0 35px 0 black,
            0 0 40px 0 black,
            inset 0 0 60px 0 black;
    }
    #itemsInfo:focus{
        outline: 4px solid rgb(0, 0, 0);
    }
    .closeInfo{
        font-size: 23px;
    }
    .infoTitle{
        font-size: 40px;
    }
    .infoDescription{
        font-size: 23px;
        margin-bottom: 10px;
    }
    .picCredits{
        font-size: 15px;
        border-radius: 5px;
    }
    .picCredits:focus{  
        outline: 4px solid #1b0303;
        text-shadow:
        0 0 3px rgb(0, 0, 0),
        0 0 15px rgb(0, 0, 0),
        0 0 20px rgb(0, 0, 0);
    }
}

/* ABOUT */
body.aboutOpened .background{
    height: 30%;
    min-height: 150px;
}
body.aboutOpened .homeTitle{
    display: none;
}
.aboutPage{
    color: white;
}
