@font-face {
    font-family: 'dangerdays';
    src: url('./fonts/opticompit-italic.woff2') format('woff2'),
         url('./fonts/opticompit-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* dangerdays */
html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
}
*{
    box-sizing: border-box;
}
.container{
    height: 100vh; 
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    background-image: url(./media/backround.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid pink;
}

header{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.6);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    gap: 10px;
}
header>.logo{
    width: min(14vw, 14vh);
    height: min(14vw, 14vh);
    min-width: 80px;
}
.logo>.logoPNG{
    background-image: url('./media/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    aspect-ratio: 1/1;
}
header>nav{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.9),
    -15px -1px 15px 0 rgba(0,0,0,0.9);
    height: 100%;
    padding: 0 5%;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
button{
    background-color: transparent;
    border: none;
    color: white;
}
.menuButton {
    position: relative;
    padding: 0 30px;
    overflow: hidden;
    cursor: pointer;
    transition:
        all 0.3s ease,
        transform 0.1s ease;
}
.menuButton > .text {
    position: relative;
    z-index: 2;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    font-family: dangerdays;
    color: #fff;
    font-size: 25px;
    font-weight: lighter;
}
.menuButton > .liquid {
  position: absolute;
  top: -150%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9c0606;
  transition: top 1s ease; 
  z-index: 1;
}
.menuButton > .drop {
  position: absolute;
  top: -100%;
  left: 0%;
  width: 100%;
  height: 90%;
  border-radius: 50%;
  background: #9c0606;
  transition: top 1s ease; 
  z-index: 1;
}
.menuButton:hover .liquid {
    top: 0; 
}
.menuButton:hover .drop {
    top: 50%; 
}
.currentMenu{
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 7px 5px #9c0606,
    0 10px 10px 0 #9c0606,
    0 -5px 5px 5px #9c0606;
}
.currentMenu>.liquid{
    top: 0; 
}
.currentMenu>.drop {
    top: 50%; 
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
button>svg{
    width: 20px;
    height: 20px;
    fill: rgb(170, 169, 169);
    cursor: pointer;
}
button>svg:hover{
    fill: rgb(255, 255, 255);
}

div#content>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-items: center;
    padding-top: 20px;
}
.homePage>.left{
    aspect-ratio: 1 / 1;
    height: calc(100% - 20px);
    max-height: 100%;
    max-width: 100%;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20%;
    box-shadow: 
        0 0 20px #520202,
        0 0 20px #3a0202,
        0 0 25px rgb(0, 0, 0),
        0 0 20px black,
        0 0 30px rgb(77, 76, 76),
        inset 0 0 1.3rem rgb(180, 25, 25); 

    background-image: url(./media/bar.jpg);
    background-size: cover;
}
.homePage>.right{
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 
        0 0 10px 0 rgba(0, 0, 0, 0.7),
        0 0 15px 0 rgba(0, 0, 0, 0.6),
        0 0 20px 0 rgba(0, 0, 0, 0.5),
        0 0 25px 0 rgba(0, 0, 0, 0.4),
        0 0 30px 0 rgba(0, 0, 0, 0.3)
    ;
    padding: 20px;
}

.homePage{
    color: white;
}

.homeTitle{
    font-family: dangerdays;
    font-size: 120px;
    text-align: center;
}

